body {
	color: #101312;
	font-family: 'Merriweather', serif;
	text-align: center;
	margin: 0;
}

header {
  padding: 0;
}

h1 {
	color: #66bfbf;
	font-size: 5.625rem;
	margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	/*100% = 16px = 1em
    x%   = 90px
  */
}

h2 {
	color: #66bfbf;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #11999e;
	font-size: 2rem;
}
.wrapper {
  width: 100%;
}
.nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  
}

.navigation-menu {
  width: 50%
}

.nav-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

header {
	background-color: #e4f9f5;
}

header nav ul {
	list-style: none;
	margin: 10;
	padding: 0;
	display: flex;
}

header nav ul li {
	margin-right: 20px;
}

header nav ul li a {
	color: #11999e;
	text-decoration: none;
}


.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

#about {
	background-color: #f4f4f4;
}

#projects {
	background-color: #fff;
}

#contact {
	background-color: #f4f4f4;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

#menu-button {
	background-color: #11999e; /* background color */
	color: #fff; /* text color */
	padding: 10px 20px; /* padding */
  position: relative;
  right: 10px;
	font-size: 18px; /* font size */
	border: none; /* remove border */
	cursor: pointer; /* change cursor */
}
#menu-button:hover {
	background-color: #555; /* change background color on hover */
}

.skills-container {
	display: flex;
	flex-wrap: wrap;
}

.skill {
	width: 30%;
	margin: 10px;
}

.skill h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.skill-level {
	height: 20px;
	background-color: #f4f4f4;
}

::-webkit-scrollbar { 
    display: none; 
}